html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.clickable {
    cursor: pointer;
}