// Search Bar
//
// :hover             - Subtle hover highlight.
// .star-given        - A highlight indicating you've already given a star.
// .star-given:hover  - Subtle hover highlight on top of star-given styling.
// .disabled          - Dims the button to indicate it cannot be used.
//
.search-bar {
<<<<<<< HEAD
    position: relative;
    border: none;
    border-radius: 0;
    padding: 10px 15px;
    color: white;
    .quicksearch-input {
        transition: all 0.3s;
        height: 40px !important;
        padding-left: 45px;
        box-shadow: none;
        font-family: "Roboto Light", arial, sans-serif;
        // background-image: url('/images/search-icon.svg');
        background-position: 15px center;
        background-repeat: no-repeat;
        background-size: 16px;
        background-color: transparent;
        border: none;
        &:hover,
        &:focus,
        &:active {
            background-position: 20px center;
            background-size: 18px;
            box-shadow: none;
            outline: none;
        }
    }
    .clickable {
        height: 34px;
        padding: 6px 5px;
        font-size: 14px;
        line-height: 1.428571429;
    }
    .input-group-addon.option-regex {
        border-radius: 4px 0 0 4px;
    }
    .filter-tabs {
        position: relative;
        background-color: #FFF;
        transition: all 0.3s;
        width: 100%;
        border: none;
        border-radius: 4px !important;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
        &:hover,
        &:active,
        &:focus {
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
        }
        .icon {
            position: absolute;
            left: 15px;
            top: 15px;
            z-index: 100;
        }
        .input-group-append {
            border: none;
            background: none;
            position: relative;
            .input-group-text {
                background-color: transparent;
                border: none;
                padding: 0.6rem 0.3rem;
                padding-right: 1rem;
            }
        }
        .custom-control-label {
            user-select: none;
        }
        .custom-control-label::before,
        .custom-control-label::after {
            top: .85rem;
            left: -1rem;
        }
=======
  position: relative;
  border: none;
  border-radius: 0;
  padding: 10px 15px;
  color: white;
  .quicksearch-input {
    transition: all 0.3s;
    height: 40px !important;
    padding-left: 0;
    box-shadow: none;
    font-family: "Roboto Light", arial, sans-serif;
    // background-image: url('/images/search-icon.svg');
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-color: transparent;
    border: none;
    &:hover,
    &:focus,
    &:active {
      background-position: 20px center;
      background-size: 18px;
      box-shadow: none;
      outline: none;
    }
  }
  .clickable {
    height: 34px;
    padding: 6px 5px;
    font-size: 14px;
    line-height: 1.428571429;
  }
  .input-group-addon.option-regex {
    border-radius: 4px 0 0 4px;
  }
  .filter-tabs {
    position: relative;
    background-color: #fff;
    transition: all 0.3s;
    width: 100%;
    border: none;
    border-radius: 4px !important;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    }
    .icon {
      position: absolute;
      left: 15px;
      top: 15px;
      z-index: 100;
    }
    .input-group-append {
      border: none;
      background: none;
      position: relative;
      .input-group-text {
        background-color: transparent;
        border: none;
        padding: 0.6rem 0.3rem;
        padding-right: 1rem;
      }
>>>>>>> plasmo
    }
    .custom-control-label {
      user-select: none;
    }
    .custom-control-label::before,
    .custom-control-label::after {
      top: 0.85rem;
      left: -1rem;
    }
  }
}

.cp {
  cursor: pointer;
}

.cp {
    cursor: pointer;
}