@import "../bootstrap/_variables";
.tab-item {
  padding: 0 16px 0;
  padding-left: 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
  display: flex;
  flex: 1;
  width: 100%;
  border-radius: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  background-color: #fff;
  flex-basis: 40px;
  transition: all 0.2s;

  &.hidden {
    display: none;
  }

  &.idle .tab-name,
    // &.idle .tab-url,
  &.idle .tab-favicon {
    opacity: 0.5;
  }

  &.selected {
    background-color: #acd8fb;
  }

  &:hover {
    background-color: #eee;
  }
  .tab-title {
    max-width: 50vw;
  }
  .clickable {
    color: #000;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }

  img,
  span.favicon {
    width: 16px;
    height: 16px;
    margin: 0 5px;

    &[src=""], &[src^="chrome-extension://"], &[src^="chrome://"]
    {
      display: inline-block;
      border: 1px solid gray;
      text-indent: -9999px;
    }
  }
  .tab-favicon {
    margin-right: 15px;
    width: 16px;
    height: 16px;
    img {
      margin: 0;
      transition: all 0.2s;
    }
    .checkbox {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 3px;
    }
    &:hover {
      .checkbox {
        opacity: 1;
      }
      img {
        opacity: 0;
      }
    }
  }
  &.checked {
    background-color: #e3f1fc;
    border-color: #548dbb;
    .dimmed.tab-url {
      color: #0062cc;
    }
  }
  &.checked .tab-favicon {
    .checkbox {
      opacity: 1;
      //left: 0;
    }
    img {
      opacity: 0;
    }
  }
  .glyphicon {
    padding-left: 5px;
    padding-right: 5px;
  }
  .glyphicon.disabled {
    color: #aaa;
  }
  .dimmed {
    color: #aebdd0;
  }
  .trimmed {
    margin-left: 15px;
  }
  .tab-url {
    flex: 1;
  }
  .tab-name {
    flex-shrink: 0;
    max-width: 600px;
  }
  .tab-name:hover {
    color: blue;
  }
  .tab-actions {
    width: auto;

    li {
      display: none;
    }

    li.active {
      display: inline-block;
    }
  }
  &:hover .tab-actions {
    display: block;
    width: auto;

    li {
      display: inline-block;
      width: auto;
    }
  }
  .tab-actions {
    li {
      opacity: 0.4;
    }
    &:hover li {
      display: inline-block;
      opacity: 1;
    }
  }
}

.clip {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
}

.tab-actions {
  flex-shrink: 0;
  overflow: hidden;
  transition: all 0.4s;
  li {
    transition: all 0.2s;
    display: inline-block;
    overflow: hidden;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
    i {
      padding: 6px;
    }
  }
  li.active {
    opacity: 1;
  }
  &:hover li {
    display: inline-block;
    opacity: 1;
  }
  li.pin-tab i {
    color: $link-color;
  }
  li.sound-tab i {
    color: $info;
  }
  li.remove-tab i {
    color: $brand-secondary-color;
  }
}
