{
    "presets": [
        "stage-3", ["env", { "loose": true, "browsers": "last 1 Chrome version" }], "react"
    ],
    "env": {
        "development": {
            "presets": ["stage-3", "env", "react-hot"]
        },
        "production": {
            "presets": ["stage-3", "env", "react"]
        }
    }

}