{
    "presets": [
        "stage-3", "env", "react"
    ],
    "env": {
        "development": {
            "presets": ["env", "react-hmre"]
        },
        "production": {
            "presets": ["env", "react"]
        }
    }
}