# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Miscellaneous
.DS_Store
.DS_STORE
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local Environment Files
.env*
out/
build/
dist/

# Plasmo - https://www.plasmo.com
.plasmo

# BPP - http://bpp.browser.market/
keys.json

# TypeScript
*.tsbuildinfo
diff.txt

# Editor and System Files
._*
.AppleDouble
.history/
.LSOverride
.remote-sync.json
.sass-cache
.Spotlight-V100
.Trashes
.vite-ssg-dist
.vite-ssg-temp
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json

# Archive and Binary Files
*.cache
*.crx
*.csv
*.dat
*.gz
*.local
*.log
*.out
*.pid
*.seed
*.xpi

# Build Output and Assets
/css
/js/*.js
$RECYCLE.BIN/
bower_components/
certs/key.pem
commonjs/
Desktop.ini
dist-ssr
excited-gem.sublime-workspace
firefox/
Icon
lib-cov
logs
New folder/
node_modules
npm-debug.log
package-lock.json
pids
results
src/auto-imports.d.ts
src/images/light/
src/images/regular/
src/images/solid/
thumbs.db
utils/.npmrc
/.idea
# Bookmark Data
bookmarks_backup_*.json
bookmarks_categorized*.json

keys.json