$RECYCLE.BIN/
*.cache
*.csv
*.dat
*.gz
*.log
*.log
*.out
*.pid
*.seed
./js/*.js
._*
.AppleDouble
.DS_Store
.DS_STORE
.LSOverride
.remote-sync.json
.sass-cache
.Spotlight-V100
.Trashes
.vscode/launch.json
.vscode/settings.json
/css
/js/*.js
assets/
bower_components/
build/
certs/key.pem
commonjs/
Desktop.ini
dist/
thumbs.db
excited-gem.sublime-workspace
Icon
lib-cov
logs
node_modules
npm-debug.log
pids
results
src/components
Thumbs.db
.history/
New folder/
.idea/workspace.xml
.idea/excited-gem.iml
.vscode/extensions.json
utils/.npmrc
package-lock.json
firefox/
