._*
./js/*.js
.AppleDouble
.DS_Store
.DS_STORE
.history/
.idea/
.idea/excited-gem.iml
.idea/watcherTasks.xml
.idea/workspace.xml
.LSOverride
.remote-sync.json
.sass-cache
.Spotlight-V100
.Trashes
.vite-ssg-dist
.vite-ssg-temp
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
*.cache
*.crx
*.csv
*.dat
*.gz
*.local
*.log
*.out
*.pem
*.pid
*.seed
*.xpi
*.zip
/css
/js/*.js
$RECYCLE.BIN/
bower_components/
build.zip
build/
certs/key.pem
chrome/
commonjs/
Desktop.ini
dist
dist-ssr
dist/
excited-gem.sublime-workspace
extension/
extension/manifest.json
firefox/
Icon
lib-cov
logs
New folder/
node_modules
npm-debug.log
package-lock.json
pids
results
src/auto-imports.d.ts
src/components
src/components.d.ts
src/images/light/
src/images/regular/
src/images/solid/
thumbs.db
Thumbs.db
utils/.npmrc
firefox/
chrome/
.idea/watcherTasks.xml
build.zip
src/images/solid/
src/images/regular/
src/images/light/
*.zip
.idea/
*.csr
*.crt
extension/
dist/
build/
