// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');
$brand-primary-color: #59C50F;
$brand-secondary-color: #D1335B;
@import 'components/reset';
@import 'components/generics';
@import 'components/selectable';
@import 'components/buttons';
@import 'components/search';
@import 'components/tabs-list';
@import 'components/forms';

/* Header */

.header.affix,
.header.affix-top {
    position: fixed;
    top: 35px;
    z-index: 999;
    left: 0;
    background-color: #C9D3DF;
}

.modal-body {
    overflow: hidden;
    .table {
        margin: 0;
        margin-top: -15px;
        margin-bottom: -15px;
    }
}

#feedback {
    font-size: 1.4em;
}

.eg .sessions {
    .panel-group {
        .panel-heading {
            .session-name button.btn {
                display: none;
            }
            .session-name:hover button.btn.btn-primary {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                padding: 0;
                font-size: 9px
            }
            input.form-control[readOnly] {
                transition: all 0.4s;
                border: none;
                box-shadow: none;
            }
        }
    }
}