@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {
    font-size: 12px;
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    /*background-color: blue;*/
}
.clickable {
    cursor:pointer;
}
.eg .list-group-item{
    padding: 0;
    
    .btn-default{
        &:first-child{
            border-left: none;
        }
        &:last-child{
            border-right: none;
        }
        border-bottom: none;
        border-top: none;
        &.site-name{
            max-width:1100px;
            overflow: hidden;
        }
    }

}
.eg .tabs-list-container.header.affix {
    position: fixed;
    top: 35px;
    z-index: 999;
    left: 0;
    .horizontal-block{
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.eg .tabs-list-container.header .horizontal-block{
    &.search{
        border: none;
        background: yellowgreen;
        border-radius: 0;
        padding: 10px 15px;
        color: white;

        span.clickable{
            height: 34px;
            padding: 6px 5px;
            font-size: 14px;
            line-height: 1.428571429;
        }

        .input-group-addon.option-regex{
            border-radius:4px 0 0 4px;
        }
        .filter-tabs{
            background-color: #FFF;
            overflow: hidden;
            transition:all 0.3s;
            width: 100%;
            border: none;
            border-radius: 4px !important;
            box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
            &:hover ,&:focus{
                    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
            }
            .input-group-addon{
                border: none;
                background: none;
            }
            .quicksearch-input.form-control{
                background-color: transparent;
                border: none;
                &:focus{
                    box-shadow:none;
                    outline:none;
                }
                
            }
        }

    }
    
    &.context-actions{
      background-color: #bcf34d;
      li a{
        color:#638e0c;
        padding: 5px;
        &:hover,&:focus{
            color:#000;
            background-color: transparent;
        }
      }
    }
}
.eg .horizontal-block:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}


.horizontal-block{
    transition: all 0.4s;
}
.list-group-item.horizontal-block{
    .btn.favicon{
        cursor: default;
        &:hover{
            background-color: #FFF;
            // border-color:inherit;
        }
    }
}
.list-group-item.horizontal-block:hover{
    background-color: #eee;
//     -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2);
// -moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2);
// box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.2);
    /*cursor: pointer;*/
}
.horizontal-block img{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}
.horizontal-block>span{
    padding-left: 15px;
}
.horizontal-block .glyphicon{
    padding-left: 5px;
    padding-right: 5px;
}
.horizontal-block .glyphicon.disabled{
    color:#aaa;
}
input[type=text] {
    padding: 4px 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #ddd;
    outline: 0;
    -webkit-appearance: textfield;
}

.cssCheckbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cssCheckbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.cssCheckbox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.eg .navbar-brand {
    float: left;
    padding: 7px 15px;
    font-size: 18px;
    line-height: 20px;
    height: auto;
}
.eg .navbar {
    min-height:auto;
    }
@media (min-width: 768px){
.eg .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
}}
#feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }