@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Handling */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;
    /* Hide track by default */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Hide thumb by default */
    border-radius: 4px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb,
.custom-scrollbar:active::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    /* Show on hover/active */
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 0.8);
    /* Darker on thumb hover */
}