body { 
    padding-top: 70px;
    /*background-color: blue;*/
}
.clickable {
    cursor:pointer;
}

.tabs-list-container.header .list-group-item {
    border: none;
    background: yellowgreen;
    border-radius: 0;
    /* box-shadow: 0 0 3px 0 #000; */
    color: white;
}
.eg .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.eg .quicksearch-input.form-control{
    transition:all 0.3s;
    width: 80%;
    display: inline-block;
    border: none;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
}
.eg .quicksearch-input.form-control:hover,
.eg .quicksearch-input.form-control:focus
{
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.3);
}
.list-group-item{
    transition: all 0.4s;
}
.list-group-item:hover{
    background-color: #eee;
    /*cursor: pointer;*/
}
.list-group-item>img{
    width: 16px;
    height: 16px;
    margin: 0 5px;
}
.list-group-item>span{
    padding-left: 15px;
}
.list-group-item .glyphicon{
    padding-left: 5px;
    padding-right: 5px;
}
.list-group-item .glyphicon.disabled{
    color:#aaa;
}
input[type=text] {
    padding: 4px 4px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #ddd;
    outline: 0;
    -webkit-appearance: textfield;
}

.cssCheckbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cssCheckbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}

.cssCheckbox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}