<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <script src="http://localhost:8097"></script>
</head>

<body class="eg">
    <div id="root" style="display: flex;flex-direction: column;height: 100%;"></div>
    <aside id="navigation" class="off-page-navigation">

    </aside>
    <div id="active-tabs-list-container" class="tabs-list-container"></div>
</body>




</html>
