<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- <script src="http://localhost:8097"></script> -->
  </head>

  <body class="eg">
    <div
      id="root"
      style="display: flex; flex-direction: column; height: 100%"
    ></div>
    <aside id="navigation" class="off-page-navigation"></aside>
    <div id="active-tabs-list-container" class="tabs-list-container"></div>
  </body>
  <div
    class="dropdown-menu shadow-lg"
    aria-labelledby="dropdownMenuButton"
    id="context-menu"
  >
    <h6 class="dropdown-header">Heading</h6>
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <h6 class="dropdown-header">Heading</h6>
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
  </div>
</html>
