doctype html
html(lang="en")
  head
    title="Excited Gem"
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/eg.css")
    //- link(rel="stylesheet", href="css/font-awesome.css")
    script(src="js/jquery.min.js")
    script(src="js/react/dist/react.js")
    script(src="js/react-dom/dist/react-dom.js")
    script(src="js/bootstrap.js")
    script(src="js/activetabs.js")
    script(src="js/sessions.js")
    //- script(src="js/readinglist.js")
    script(src="js/content.js")
    //- script(src="js/contentext.js")
    //- script(src="js/jquery-ui.js")
  body.eg
    include navigation
        // /.navbar-collapse
      // /.container-fluid
    div
      //- h1
      //-   | Tabs
      //-   small.active-tab-counter  (0)

      #active-tabs
          header.tabs-list-container.header(data-spy='affix', data-offset-top='60', data-offset-bottom='200')
            section.horizontal-block.search.container-fluid
              .input-group.filter-tabs#filter-tabs
                input#quicksearch-input.quicksearch-input.form-control.regex(type='text', placeholder='Filter Tabs by Title', aria-label='...')
                span.input-group-addon.option-regex
                  input#filter-type-option-id(type='checkbox', aria-label='...')
                  |  Regex
                span.input-group-addon.option-case-sensitive
                  input#filterCase-option-id(type='checkbox', aria-label='...')
                  |  Case Sensitive

            section.horizontal-block.context-actions.container-fluid
              ul.nav.nav-pills.pull-left
                li(role='presentation')
                  a#refreshActiveTabs(href='#', title='Refresh Active Tabs')
                    img(src="images/reload-icon.svg", alt="")
                    |                                     Refresh
                li.dropdown(role='presentation')
                  a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false', title='Rearrange/Sort Tabs')
                    img(src="images/arrange.svg", alt="")
                    |                                   Rearrange by
                    span.caret
                  ul.dropdown-menu
                    li
                      a#rearrange-url-btn(href='#', title='Rearrange with respect of URL')
                        | URL
                    li
                      a#rearrange-title-btn(href='#', title='Rearrange with respect of Title')
                        | Title
              ul.nav.nav-pills.pull-right
                li
                  a(href="#")
                    img(src="images/pin-icon.svg", alt="")
                li
                  a(href="#")
                    img(src="images/sound-icon.svg", alt="")
                li
                  a(href="#")
                    img(src="images/close-icon.svg", alt="")
          #active-tabs-list-container.tabs-list-container

          //- #all-sessions
      #react-container
      // Small modal
      #infoModal.modal.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
