doctype html
html(lang="en")
  head
    title="Excited Gem"
    link(rel="stylesheet", href="css/bootstrap.css")
    link(rel="stylesheet", href="css/eg.css")
    //- link(rel="stylesheet", href="css/font-awesome.css")
    script(src="js/jquery.min.js")
    script(src="js/react/dist/react.js")
    script(src="js/react-dom/dist/react-dom.js")
    script(src="js/bootstrap.js")
    script(src="js/activetabs.js")
    script(src="js/sessions.js")
    //- script(src="js/readinglist.js")
    script(src="js/content.js")
    //- script(src="js/contentext.js")
    //- script(src="js/jquery-ui.js")
  body.eg
    include navigation
        // /.navbar-collapse
      // /.container-fluid
    div
      //- h1
      //-   | Tabs
      //-   small.active-tab-counter  (0)

      #active-tabs
          header.tabs-list-container.header(data-spy='affix', data-offset-top='60', data-offset-bottom='200')
            section.horizontal-block.search.container-fluid
              .input-group.filter-tabs#filter-tabs
                input#quicksearch-input.quicksearch-input.form-control.regex(type='text', placeholder='Filter Tabs by Title', aria-label='...')
                span.input-group-addon.option-regex
                  input#filter-type-option-id(type='checkbox', aria-label='...')
                  |  Regex
                span.input-group-addon.option-case-sensitive
                  input#filterCase-option-id(type='checkbox', aria-label='...')
                  |  Case Sensitive

            section.horizontal-block.context-actions.container-fluid
              ul.nav.nav-pills.pull-left
                li(role='presentation')
                  a#refreshActiveTabs(href='#', title='Refresh Active Tabs')
                    img(src="images/reload-icon.svg", alt="")
                    |                                     Refresh
                li.dropdown(role='presentation')
                  a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false', title='Rearrange/Sort Tabs')
                    img(src="images/arrange.svg", alt="")
                    |                                   Rearrange by
                    span.caret
                  ul.dropdown-menu
                    li
                      a#rearrange-url-btn(href='#', title='Rearrange with respect of URL')
                        | URL
                    li
                      a#rearrange-title-btn(href='#', title='Rearrange with respect of Title')
                        | Title
              ul.nav.nav-pills.pull-right
                li
                  a(href="#")
                    img(src="images/pin-icon.svg", alt="")
                li
                  a(href="#")
                    img(src="images/sound-icon.svg", alt="")
                li
                  a(href="#")
                    svg(stroke-linejoin='round', xmlns='http://www.w3.org/2000/svg', clip-rule='evenodd', fill-rule='evenodd', xml:space='preserve', height='16', width='16', version='1.1', xmlns:serif='http://www.serif.com/', stroke-miterlimit='1.4142', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 16 17')
                      path#Close-Circle-Icon(serif:id='Close Circle Icon', fill='#374355', d='m8 16.678c-4.418 0-8-3.581-8-8 0-4.418 3.582-8 8-8s8 3.582 8 8c0 4.419-3.582 8-8 8zm2.831-10.843c-0.388-0.388-1.017-0.388-1.405 0l-1.432 1.432-1.433-1.432c-0.388-0.388-1.017-0.388-1.405 0s-0.388 1.017 0 1.405l1.433 1.432-1.433 1.433c-0.388 0.387-0.388 1.017 0 1.405s1.017 0.388 1.405 0l1.433-1.433 1.432 1.433c0.388 0.388 1.017 0.388 1.405 0s0.388-1.018 0-1.405l-1.433-1.433 1.433-1.432c0.388-0.388 0.388-1.017 0-1.405z')

          #active-tabs-list-container.tabs-list-container

          //- #all-sessions
      #react-container
      // Small modal
      #infoModal.modal.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
