doctype html
html(lang="en")
  head
    title="Excited Gem"
    //- link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
    //- link(rel="stylesheet", type="text/css", href="css/eg.css")
    //- //- link(rel="stylesheet", href="css/font-awesome.css")
    //- script(src="js/jquery.min.js")
    //- script(src="js/react/dist/react.js")
    //- script(src="js/react-dom/dist/react-dom.js")
    //- script(src="js/bootstrap.js")
    //- script(src="js/activetabs.js")
    //- script(src="js/sessions.js")
    //- //- script(src="js/readinglist.js")
    //- script(src="js/content.js")
    //- script(src="js/contentext.js")
    //- script(src="js/jquery-ui.js")
    style
      //- .tabGroupTitleText {
      //- font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
      //- color: #444;
      //- }
  body.eg
    include navigation
      // /.navbar-collapse
      // /.container-fluid
    .container-fluid
      h1
        | Tabs
        small.active-tab-counter  (0)

      #active-tabs.active(role='tabpanel')
          .row
            .col-xs-12
          .tabs-list-container.header(data-spy='affix', data-offset-top='60', data-offset-bottom='200')
            .horizontal-block.search
              .row
                .col-sm-1
                  span.clickable.glyphicon.glyphicon-pushpin.pinned(title='Pin All', aria-hidden='true')
                  span.clickable.glyphicon.glyphicon-volume-off.audible(title='Mute All', aria-hidden='true')
                .col-sm-10
                  .input-group.filter-tabs#filter-tabs
                    input#quicksearch-input.quicksearch-input.form-control.regex(type='text', placeholder='Filter Tabs by Title', aria-label='...')
                    span.input-group-addon.option-regex
                      input#filter-type-option-id(type='checkbox', aria-label='...')
                      |  Regex
                    span.input-group-addon.option-case-sensitive
                      input#filterCase-option-id(type='checkbox', aria-label='...')
                      |  Case Sensitive
                .col-sm-1
                  .options.pull-right
                    span.clickable.remove-tab.glyphicon.glyphicon-remove(data-command='remove', aria-hidden='true')
            .horizontal-block.context-actions
              ul.nav.nav-pills
                li(role='presentation')
                  a#refreshActiveTabs(href='#', title='Refresh Active Tabs')
                    span.glyphicon.glyphicon-refresh(aria-hidden='true')
                    |                                     Refresh
                li.dropdown(role='presentation')
                  a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false', title='Rearrange/Sort Tabs')
                    span.glyphicon.glyphicon-sort-by-alphabet(aria-hidden='true')
                    |                                   Rearrange by
                    span.caret
                  ul.dropdown-menu
                    li
                      a#rearrange-url-btn(href='#', title='Rearrange with respect of URL')
                        | URL
                    li
                      a#rearrange-title-btn(href='#', title='Rearrange with respect of Title')
                        | Title

          #active-tabs-list-container.tabs-list-container

          //- #all-sessions
      #react-container
      // Small modal
      #infoModal.modal.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel')
