<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body class="eg">
    <!-- Page Header -->
    <header class="page-header">
        <nav class="navbar navbar-expand-lg navbar-expand-md">
            <div class="navbar-brand ">
                <a href="#" class="pull-left logo" style="margin-top: 10px;"><img src="images/logo.png" alt="" style="height: 40px; width: auto;"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active"><a class="nav-link text-white" href="/tabs.html" id="go-to-tabs">Tabs<span
                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white font-weight-bold" href="/sessions.html">Sessions</a></li>
                </ul>
            </div>
        </nav>

        <section class="context-actions container-fluid">
            <ul class="nav nav-pills pull-left">
                <!-- <li role="presentation">
                    <a id="refreshActiveTabs" href="#" title="Refresh Active Tabs"><img src="images/reload-icon.svg" alt=""> Refresh</a>
                </li>
                <li role="presentation" class="dropdown">
                    <a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" title="Rearrange/Sort Tabs" class="dropdown-toggle"><img src="images/arrange.svg" alt=""> Rearrange by <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="rearrange-url-btn" href="#" title="Rearrange with respect of URL">URL</a></li>
                        <li><a id="rearrange-title-btn" href="#" title="Rearrange with respect of Title">Title</a></li>
                    </ul>
                </li> -->
                <li role="presentation">
                    <a id="saveSessions-btn" href="#" title="Save Active Tabs opened in all Chrome windows">
                        <i class="fas fa-save fa-fw"></i> Save Session
                    </a>
                </li>
                <!-- <li role="presentation">
                    <a id="saveSessions-btn" href="#" title="Save Active Tabs opened in all Chrome windows">
                        <i class="fas fa-chevron-up fa-fw"></i> Collapse All
                    </a>
                </li> -->
                <!-- <li role="presentation">
                    <a id="saveSessions-btn" href="#" title="Save Active Tabs opened in all Chrome windows">
                        <i class="fas fa-chevron-down fa-fw"></i> Expand All
                    </a>
                </li> -->
                <!-- <li role="presentation">
                    <a id="saveSessionsAndClose-btn" href="#" title="Save Active Tabs opened in all Chrome windows and close Chrome">
                        <span aria-hidden="true" class="glyphicon glyphicon-save"> </span> Save Session and Close Chrome
                    </a>
                </li> -->
            </ul>

        </section>
    </header>
    <!-- Page Header Ends -->
    <div id="sessions-tab" role="tabpanel" class="tab-pane" style="overflow-y: auto;">
        <div class="tabs-list-container">

            <div id="all-sessions"></div>
        </div>
    </div>
    <div id="react-container"></div>
</body>
<div id="infoModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" class="modal bs-example-modal-sm">
</div>

</html>
