<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <script src="http://localhost:8097"></script>
</head>

<body class="eg" >
<div id="root" style="display: flex;flex-direction: column;height: 100%;"></div>
<aside id="navigation" class="off-page-navigation">

</aside>
<div id="active-tabs-list-container" class="tabs-list-container"></div>
<div id="react-container"></div>
<!-- Small modal-->
<div id="infoModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     class="modal bs-example-modal-sm"></div>
<div class="dropdown-menu context-menu" aria-labelledby="dropdownMenuButton" style="display: none;box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
</div>
</body>

</html>

</html>
